h1 {
    margin: 30px;
    padding: 20px;
    width: 100%
    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    background-color: crimson;
    color: white;
    text-align: center;
    border-radius: 2px;
    font-size: 50px;


}

img {
    border-radius: 2000px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.bill {
    margin: 20px;
    width: 10%;
    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: whitesmoke;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    border-radius: 3px;
    font-size: 40px;

}

.watch {
    border: 2px solid violet;
    margin: 20px;
    width: 18%;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: rgba(241, 14, 25, 0.584)
    
}

.watch:hover {
    font-size: 28px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}

.later {
    border: 2px solid violet;
    margin: 20px;
    width: 18%;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;

}

.later:hover {
    font-size: 28px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;



}
footer{
    padding: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: crimson;
    text-align: center;
}
footer a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    margin: 40px;
    border-bottom: 1px dotted white;
    
    
}
footer a:hover{
    border-bottom: 1px solid blue;
    color: blue;
    
}